body {
    height: 300em;
    background-image: url(bg-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.placeholder-container {
    height: 100vh;
    padding-top: 80px; /* adjust for fixed navbar height */
}

.placeholder-img {
    width: 150px;
    opacity: 0.8;
}

h1 {
    color: rgb(0, 0, 0);
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

p {
    color: black;
    font-size: 1.1rem;
}
