body {
    background-image: url(bg-image.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Main container */
.music-box {
    background: rgba(0, 0, 0, 0.65);
    border-radius: 20px; 
    padding: 1.5rem;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

/* Reduce gaps between tiles */
/* g means gutter  */
/* this sets the horizontal and vertical spacing between tiles */
.row.g-2 {
    --bs-gutter-x: 0.5rem;
    --bs-gutter-y: 0.5rem;
}

/* Music card */
/* for text the song title and singer */
.music-card {
    text-align: left;
    margin-bottom: 0.5rem;
}

/* Tile design */
.music-tile {
    /* aspect ratio makes the contianer square */
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    /* overflow: hidden → anything that goes outside the boundaries of the element will be hidden */
    overflow: hidden;
    background: #222;
    /* for hover */
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.music-tile img {
    width: 100%;
    height: 100%;
    /* keeps image proportions and crops if necessary to fill the square. */
    object-fit: cover;
    /* for hover */
    transition: transform 0.3s;
}

/* Hover effect on tile */
.music-tile:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
    
.music-tile:hover img {
    transform: scale(1.1);
}

/* Title BELOW the tile */
.music-title {
    /* display: -webkit-box / line-clamp / box-orient → limits title to 2 lines and cuts off extra text. */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orint: vertical;
    overflow: hidden;
    margin-top: 6px;
    color: white;
    font-size: 0.88rem;
    line-height: 1.1;
    text-decoration: none;
    transition: color 0.3s;
}

/* Hover effect on title */
.music-title:hover {
    color: #9ab3a3;
}

/* Optional: Hover tile also highlights title */
.music-card:hover .music-title {
    color: #9ab3a3;
}
