body {
    height: 300em;
    background-image: url(bg-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

}

.navbar {
    transition: all 0.5s;
    z-index: 1030; /* ensures navbar stays on top */
}

.navbar-scrolled {
    background-color: black !important;
}

/* hover will not work in mobile  */
@media (min-width: 576px){
    .dropdown:hover .dropdown-menu {
        display: block; 
        margin-top: 0;
    }
}
