body {
    height: 300em;
    background-image: url(../bg-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

}

.navbar {
    transition: all 0.5s;
    z-index: 1030; 
}

.navbar-scrolled {
    background-color: black !important;
}

@media (min-width: 576px){
    .dropdown:hover .dropdown-menu {
        display: block; 
        margin-top: 0;
    }
}

.nav-link {
    position: relative;
}

.nav-link:hover {
  text-decoration: underline; 
}

nav-link::after {
    content: '';
    opacity: 0;
    transition: all 0.2s;
    height: 2px;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link:hover::after {
    opacity: 1;
}